<% provide(:title, 'MyProfile') %>
<div class="row">
  <h1> My Profile </h1>
  <aside>
	<%= link_to 'Edit', '/edit' %>
	<%= link_to 'Change Password', "/cpwd" %>
  </aside>

  <aside>
	<%= render @user %>
  </aside>
  <aside>
	<% if @detail.blank? %>
		<h1> details is balck </h1>	
	<% else %>
		<h1> details is not balck </h1>	
	<% end %>
  </aside>
</div>
