<% provide(:title, 'MyProfile') %>
<div class="row">
  <h1> My Profile </h1>
  <aside>
	<%= link_to 'Edit', '#' %>
  </aside>

  <aside>
	<%= render @user %>
  </aside>
  <aside>
	<% if @detail.blank? %>
		<%= render 'details/detail_form' %>
	<% else %>
		<%= render @detail %>
	<% end %>
  </aside>
</div>
